node_modules/
cli.js
simulation.worker.js
public/app.js
public/index.css
public/style.css
dist/
settings.local.json
tsconfig.tsbuildinfo
.prettierrc
biome.json
.markdownlint.json
configs/
!configs/config.example.json
